<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
</head>
<body class="pb-4">
    <%- include('../header.ejs') %>
    <div class="box is-half mx-6 mt-4">
        <%- include('modify.ejs',{modules,users}) %>
    </div>
    <hr class="mx-5">
    <div class="box is-half mx-6">
        <%- include('create.ejs',{users,module,error}) %>
    </div>
    
</body>
</html>
