<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mon application</title>
  <link rel="stylesheet" type="text/css" href="/css/headerStyle.css">
</head>
<body>
  <header>
      <nav>
        <a href="/">
          <img class="mx-2 mt-2" id="logo" src="/img/ensibs_logo.png" alt="logo">
        </a>
        <ul>
          <li class="menu-item">
            <a class="menu-item" href="/maquette/">MAQUETTE</a>
          </li>
          <li class="menu-item">
            <a class="menu-item" href="/parcours">PARCOURS</a>
          </li>
          <li class="menu-item">
            <a class="menu-item" href="/ue">UE</a>
          </li>
          <li class="menu-item">
            <a class="menu-item" href="/module">MODULE</a>
          </li>
        </ul>
      </nav>
  </header>
  <script src="/js/script.js"></script>
</body>
</html>

