<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bulma.css">
</head>
<body>
  <header>
    <%- include('header') %>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>Pied de page de l'application</p>
  </footer>
</body>
</html>
