<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Modifier le mot de passe</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%- include('../header') %>
  <div class="container flex">
    <h1>Modifier le mot de passe pour <%= user.username %></h1>
    <form action="/user/editPassword/<%= user._id %>" method="POST">
      <label for="newPassword">Nouveau mot de passe:</label>
      <input type="password" id="newPassword" name="newPassword" required>

      <label for="confirmPassword">Confirmer le nouveau mot de passe:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>

      <button type="submit">Modifier le mot de passe</button>
    </form>
  </div>
</body>
</html>
